#set($subject = "$device.name: Befehl Ergebis empfangen")
$device.name Befehl Ergebis empfangen: $position.getString("result") at $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)